.blockText {
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  margin-bottom: 20px;
}

.block {
  position: absolute;
  top: 40%;
  width: 100%;
  background: #fff;
  font-size: 48px;
  color: #008a83;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
  .main {
    margin-bottom: 20px;
  }
  .section {
    @extend .blockText;
  }
  .styleSyntax {
    @extend .blockText;
    color: #ffa705;
  }
}

:global {
  .syntaxName {
    color: #fff;
    background-color: #ffa705;
    padding: 4px 16px;
    margin-left: 4px;
    border-radius: 5px;
  }
}
